<div id="hint-banner-dblclick" class="notification is-info is-light" style="display:none;">
  <button class="delete" id="hint-banner-dblclick-dismiss" aria-label="Dismiss hint"></button>
  <span class="icon-text">
    <span class="icon"><i class="fa-solid fa-computer-mouse"></i></span>
    <span>Double-click any row to open it in a tab below.</span>
  </span>
</div>
